pip install pygame csv pickle scipy thermo fluids tkinter fpdf pandas matplotlib chemicals

Python: version 3.11 and above

tkinter: On some systems, tkinter might be included with the Python installation. On others, it may need to be installed with the system's package manager (like apt for Ubuntu). 
For example, on Ubuntu you'd use sudo apt-get install python3-tk.

Packages:
Package                       Version
chemicals                     1.1.4
fluids                        1.0.24
fpdf                          1.7.2
matplotlib                    3.7.2
matplotlib-inline             0.1.6
pandas                        2.0.3
pickleshare                   0.7.5
pygame                        2.5.0
scipy                         1.11.1
thermo                        0.2.26
openpyxl
scikit-learn
pyswarms
pysindy

Platform-Specific Considerations:

On macOS, you might want to use pip3 instead of pip if both Python 2 and Python 3 are installed.

On Windows, pip should work if it's correctly set up in your PATH. If not, you might need to use the full path to pip or use it from within a Python environment.

